# Default code owners for fm-application-fls
# All files require approval from required PR approvers
* @Freeman-DevOps-Organization/okta-users-tfc-ts-fls-admin @Freeman-DevOps-Organization/okta-users-tfc-ts-fls-dev
